<!DOCTYPE html>
<html>
    <head>
      

    </head>
    <body>
        <h2>Input of data</h2>
        <form method="POST" action="postform">
            <label>Card Number</label>
            <input name ="number" placeholder="1234 1234 1234 1234"  type="text"  /><br>
            <label>Card Holder</label>
            <input name ="holder" placeholder="ISRAEL ISRAELI" type="text" /><br>
            <label>Exp. Date</label>
            <input name="date" placeholder="10/25" type="text"  /><br>
            <label>CCV</label>
            <input name="ccv" placeholder="123" type="text"  /><br>
            <input type ="submit" value="Submit">
        
        </form>
        
    </body>
</html>